<main class="main">
  <section class="main_form">
    <form action="" class="form">
      <input type="text" name="text" class="form_input js-input" />
      <button class="form_btn js-search-btn">Encuentra tu serie</button>
    </form>
  </section>
  <section class="main_section">
    <div class="main_section_favourites">
      <p>TUS SERIES FAVORITAS</p>
      <ul class="main_section_favourites_list js-list-favourites"></ul>
    </div>
    <div class="main_section_list">
      <ul class="js-list"></ul>
    </div>
  </section>
</main>
