<main class="main">
  <section class="main_form">
    <form action="" class="form">
      <input type="text" name="text" class="js-input" />
      <button class="js-search-btn">Search</button>
    </form>
  </section>
  <section class="main_section">
    <div class="main_section_favourites">
      <p>TUS FAVORITOS</p>
      <ul class="main_section_favourites_list js-list-favourites"></ul>
    </div>
    <div class="main_section_list">
      <ul class="js-list"></ul>
    </div>
  </section>
</main>
